<a routerLink="/" title="go back">
    <h1>Angular<br><small>3rd party libraries and widgets</small></h1>
    </a>
    
    <p style="clear:both">
      How to integrate third-party libraries and widgets into an Angular application. <a href="https://angular.schule/blog/2019-02-third-party-libraries-and-widgets">Read the full article</a> about this demo.<br>
    </p>
    
    <ol>
      <li><a routerLink="widget">Lodash Example</a></li>
      <li><a routerLink="plotlyjs-example">Plotly.js Example</a></li>
      <li><a routerLink="jquery-old-example">Old jQuery example</a></li>
      <li><a routerLink="kendo-ui-jquery-example">Kendo UI for jQuery Example</a></li>
      <li><a routerLink="angular-plotlyjs-example">angular-plotly.js Example</a></li>
      
    </ol>
    
    
    
    <hr>
    
    <div style="margin: 20px">
      <router-outlet></router-outlet>
    </div>
    
    <hr>
    
    <a class="schule" href="https://angular.schule">with ♡ from Angular Schule</a>